.comment-component-container {
  display: flex;
  flex-direction: column;
  width: 98%;
  background-color: lightblue;
  margin-top: 1rem;
  padding: 0.5rem;

  & .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  & .comment-body {
    font-weight: lighter;
  }
}
