.post-component-container {
  width: 96%;
  background-color: #ededed;
  padding: 1rem;
  text-align: left;
  border-radius: 9px;
  margin-bottom: 1rem;

  & .post-comments-container {
    padding-top: 1rem;
    cursor: pointer;

    & .comments-number {
      font-weight: bold;
    }
  }
}
